body {
		background: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif) no-repeat center center fixed !important;
		background-size: 100% !important;

	}
	header{
		background-color: #000c !important;
	}
	.site-navigation {
		background: #000c !important;
	}

	.s-enable-course-dashboard.theme-2016-layout #main {
		background: #000c !important;
	}

	.Header-header-button-1EE8Y {
		background: #000c !important;
		color: #f71;
	}

	.theme-2016-layout #main, .theme-2016-layout #right-column-inner > div:not(:empty) {
		color: #f71;
		border-radius: 10px;
		background: #000c !important;
	}

	.s-enable-course-dashboard.theme-2016-layout #right-column-inner {
		padding-left: 150px !important;
		padding-right: 30px !important;
	}

	#right-column {
		width: 30%;
	}

	#wrapper {
		max-width: 1800px !important;
	}

	.sgy-card {
		background: #000 !important;
		animation: rainbow 10s infinite;
		animation-direction: alternate;
	}

	.sgy-card-context {
		color: #f71;
	}

	.theme-2016 #right-column h4 span:not(.subevent-count), .theme-2016 #right-column .empty {
		color: #f71;
	}

	.theme-2016 #right-column h3 {
		color: #f71;
	}

	h4 {
		color: #f71;
	}

	@keyframes rainbow {
		0% { border-color: #f00; }
		50% { border-color: #0f0; }
		100% { border-color: #00f; }
	}

	.sgy-tabbed-navigation {
		animation: rainbow 10s infinite;
		animation-direction: alternate;
	}

	#supplementary {
		color: #f71;
		background-color: #000c !important;
	}

	#page-footer {
		background-color: #000c !important;
	}

	#login-container {
		background: #000 !important;
		border: 1px solid;
		animation: rainbow 10s infinite;
		animation-direction: alternate;
	}

	#login-container .login-content {
		background: #0000 !important;
	}

	#main-content-wrapper {
		background-color: #000c !important;
	}

	.has-right-col #center-top {
		background-color: #000c !important;
		color: #f71;
	}

	.page-title a {
		color: #f71;
	}

	body:not(.is-detail-layout) #sidebar-left .active-trail a, body:not(.is-detail-layout) #left-nav #menu-s-main .menu .menu a.active, body:not(.is-detail-layout) #sidebar-left .menu .expanded.active-trail a.active, body:not(.is-detail-layout) #sidebar-left #left-nav .menu .expanded.active-trail .active-trail-dist-1 a, body:not(.is-detail-layout) #sidebar-left #left-nav .menu .expanded.active-trail .menu .active-trail-dist-2 a {
		background-color: #000 !important;
		color: #f71;
		transition: margin 0.3s;
	}

	.course-materials-left-menu:hover {
		margin: 10px !important;
	}

	.leaf {
		transition: margin 0.3s;
	}

	.leaf:hover {
		margin: 10px !important;
	}

	.materials-filter-wrapper {
		background-color: #000 !important;
		border: 1px solid #fff;
	}

	.materials-filter-wrapper .action-links-wrapper .action-links-unfold {
		color: #f71;
	}

	#event-selector .active {
		color: #f71;
	}

	.link-btn {
		background: #000 !important;
		color: #f71;
	}

	a.ui-selectmenu {
		background: #000 !important;
		color: #f71;
	}

	.has-folder-player #center-top .content-top-upper, .has-materials-player #center-top .content-top-upper {
		background-color: #000c !important;
		color: #f71;
	}

	#course-profile-materials {
		background-color: #000c !important;
	}

	.app-link-wrapper {
		background: #000 !important;
		color: #f71;
		transition: margin 0.3s;
		border: 1px solid #000;
	}

	.app-link-wrapper:hover {
		margin: 10px !important;
	}

	.app-title {
		color: #f71;
	}

	body {
		color: #f71;
	}

	._1IGEH:focus:not(:active), ._1oxpz:hover:not(:active), ._1Z0RM, .Dkh_K:active {
		background-color: #000c !important;
	}

	._1wP6w, ._2pDDZ:hover:not(:active), ._3senP:focus:not(:active), .wL3MX:active {
		color: #f71;
	}

	._2wOCj {
		color: #f71;
	}

	.Header-header-drop-menu-3SaYV {
		background-color: #000c !important;
	}

	.more-less-action {
		background-color: #0000 !important;
	}

	.has-folder-player #center-top .content-top-upper .more-less-action-text, .has-folder-player #center-top .content-top-upper .more-less-action-icon-tab {
		background-color: #0000 !important;
	}

	.has-folder-player #center-top .content-top-upper .more-less-fade {
		background: #0000 !important;
	}

	#content-left-top .profile-picture .imagecache {
		border: 2px solid #000;
		animation: rainbow 10s infinite;
		animation-direction: alternate;
	}

	._2q19q {
		background-color: #000c !important;
	}

	._3dHTa {
		background-image: none;
		background-color: #000c !important;
	}

	.UELBU {
		background-image: none;
		background-color: #000c !important;
	}

	.lrn {
		color: #f71;
	}

	.lrn_widget .lrn_valid, .lrn_widget .lrn_selected {
		background-color: #00f5 !important;
	}
